> That is, when will we afford a house?

# Motivation

In [1]:
## TODO

# Introduction

In [2]:
## TODO

We will have following sections:

0. Zipcode and Shape Data
1. Income Data
2. House Price Data
3. Income v.s. House Price

# Setup

Run following command in your terminal:

    $ pip install -r requirements.txt

# Zipcode and Shape Data

## Retrieve Zip Code List

In [2]:
"""
Reference: https://catalog.data.gov/dataset/bay-area-zip-codes
"""
def get_bay_area_zipcode():
    
    url = "https://data.sfgov.org/api/views/f9wk-m4qb/rows.json?accessType=DOWNLOAD"
    filename = "rows.json"

    # Remove previous downloaded csv file if exists
    try:
        os.remove(ntpath.basename(filename))
    except OSError:
        pass
    
    filename = wget.download(url)
    with open(filename) as f:
        raw_data = json.load(f)
        zipcode_list = [row[10] for row in raw_data["data"]]
    return zipcode_list

In [3]:
zipcode_list = get_bay_area_zipcode()
print(zipcode_list[:10])

['94558', '94533', '95620', '95476', '94559', '94954', '94571', '94535', '94503', '94949']

## Retrieve Shape Data

In [4]:
# import os

In [5]:
"""
Source: https://www.census.gov/geo/maps-data/data/cbf/cbf_zcta.html
"""
def download_zipcode_shapefile():
    
    url = "http://www2.census.gov/geo/tiger/GENZ2016/shp/cb_2016_us_zcta510_500k.zip"
    output = "./data/"
    target = "./data/cb_2016_us_zcta510_500k.shp"
    
    # Remove previous extracted folder if exists
    try:
        shutil.rmtree(output)
    except OSError:
        pass
    
    # Remove previous downloaded zip file if exists
    try:
        os.remove(ntpath.basename(url))
    except OSError:
        pass
    
    # Download and extract
    zip_data = wget.download(url)
    with zipfile.ZipFile(zip_data) as zip_ref:
        zip_ref.extractall(output)
        
    return target

In [6]:
raw_data = download_zipcode_shapefile()
shape_records = shapefile.Reader(raw_data).shapeRecords()

In [7]:
def filter_shape_record(shape_records, zipcode_list):
    filtered = []
    for sr in shape_records:
        if sr.record[0] in zipcode_list:
            filtered.append(sr)
    return filtered

In [8]:
filtered_shape_records = filter_shape_record(shape_records, zipcode_list)
print(len(filtered_shape_records), len(zipcode_list))

186 187

# Income

## Retrieve Income Data

In [9]:
import re
import requests
from bs4 import BeautifulSoup

In [10]:
"""
Source: https://factfinder.census.gov/faces/nav/jsf/pages/community_facts.xhtml
Example: https://factfinder.census.gov/rest/communityFactsNav/nav?spotlightId=INCOME&searchTerm=94041
"""
def get_avg_income_by_zipcode(zipcode):
    url = "https://factfinder.census.gov/rest/communityFactsNav/nav?spotlightId=INCOME&searchTerm=" + str(zipcode)
    req = requests.get(url=url)
    html = req.json()["CFMetaData"]["measureAndLinksContent"]
    dom = BeautifulSoup(html, "lxml")
    try:
        income = re.sub('[^0-9]','', dom.findAll("div", {"class": "value"})[0].text)
    except Exception:
        print("No value found for zipcode %s" % zipcode)
        return None
    print(zipcode, income)
    return income

In [11]:
# Test
zipcode = 94558
avg_income = get_avg_income_by_zipcode(zipcode)

94558 77299

In [12]:
def get_zipcode_income_map(zipcode_list):
    zipcode2income = {}
    for zipcode in zipcode_list:
        income = get_avg_income_by_zipcode(zipcode)
        if income:
            zipcode2income[zipcode] = int(income)
    return zipcode2income

In [18]:
zipcode2income = get_zipcode_income_map(zipcode_list)

94558 77299
94533 57316
95620 72583
95476 68894
94559 65891
94954 83713
94571 54852
94535 54692
94503 83627
94949 78568
94945 90685
No value found for zipcode 94512
94591 73897
94510 87569
94592 110648
94589 57316
94947 88119
94590 41530
94946 108750
94561 81910
94525 78750
94569 136875
94585 70491
94103 46140
94565 60020
94903 92552
94520 51096
94572 70227
94553 84638
94547 102993
94963 91806
94938 103854
94502 115765
94509 55022
94960 112045
94513 93951
94109 71043
94521 88339
94930 99338
94973 90824
94933 76393
94598 125089
94564 73861
94801 43393
94519 74351
94806 52698
94901 82231
94531 90126
94803 78759
94601 41918
94523 94042
94518 78301
94904 111845
94115 97090
94549 147368
94517 128398
94805 72009
94804 51276
94939 99844
94964 107167
94530 91052
94925 125915
94596 82869
94708 147837
94105 195165
94941 131703
94563 174526
No value found for zipcode 94720
94707 140711
94514 54348
94970 109412
94706 86043
94710 63080
94104 51500
94595 62374
94709 63701
94703 68842
94704 26173
94507 172414
94702 67280
94965 102415
94556 136771
94920 155710
94118 94197
94705 105461
94611 115065
94618 139570
94609 67827
94550 109793
94608 61069
No value found for zipcode 94528
94526 138287
94506 175947
94130 49271
94607 35360
94123 130589
94610 83052
94583 129182
94602 72850
94612 35977
94546 78556
94133 55098
94129 174564
94606 43314
94111 104083
94619 79225
94121 77280
94102 29456
94552 131108
94501 76787
94108 46218
94605 62061
No value found for zipcode 94613
94117 122266
94122 97091
94621 31027
94114 131442
94107 129152
94110 97563
94588 130888
94131 111083
94603 44294
94116 91930
94124 53322
94127 138381
94577 65009
94132 68711
94112 77388
94134 66925
94568 126054
94578 50838
94015 81956
94005 91127
94014 75658
94579 73771
94580 80188
94541 63801
94566 129064
94542 99647
94544 62660
94044 103545
94545 81125
94586 91932
94080 85204
94587 91629
94066 89008
No value found for zipcode 94128
94401 76361
94019 107265
94030 98709
94555 124947
94038 94423
94010 125768
94536 102450
94539 152402
94402 128163
94404 126618
94403 103612
94538 94193
94560 91965
94065 145518
94063 60434
94027 243542
94002 119530
94070 135030
95134 126515
95002 74516
94062 135808
94089 94903
94301 135427
94025 131854
94303 91866
95035 103545
No value found for zipcode 95140
94061 89578
94043 105030
94304 105320
94305 53173
No value found for zipcode 94035
94306 119157
94028 229554
94040 115600
94022 194014
94085 101051
94086 104449
94024 204534
94087 129668

In [22]:
import pandas as pd

In [33]:
# zipcodes with top high income
zipcode2income_df = pd.DataFrame.from_dict(zipcode2income, orient = "index")
zipcode2income_df.columns = ['income']
zipcode2income_df.sort_values(by=['income'], inplace=True, ascending=False)
zipcode2income_df.head()

       income
94027  243542
94028  229554
94024  204534
94105  195165
94022  194014

## Plot

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import colors
from matplotlib import cm as cmx

In [ ]:
def get_normalized_df(dic):
    df = pd.DataFrame.from_dict(dic, orient = "index")
    df.columns = ["income"]
    return (df - df.min()) / (df.max() - df.min())

In [ ]:
normalized_df = get_normalized_df(zipcode2income)
print(normalized_df.get_value("94558", "income"))

In [ ]:
"""
Reference: https://gis.stackexchange.com/questions/131716/plot-shapefile-with-matplotlib
"""
def plot_shapes(shape_records, record2value):
    plt.figure()
    for sr in shape_records:
        index = sr.record[0]
        try:
            val = record2value.get_value(index, "income")
        except KeyError:
            continue
        x = [i[0] for i in sr.shape.points[:]]
        y = [i[1] for i in sr.shape.points[:]]
        plt.fill(x, y, get_heapmap_color_hex(val))
    plt.show()

In [ ]:
"""
Jet colormap: https://www.mathworks.com/help/matlab/ref/jet.html
"""
def get_heapmap_color_hex(val):
    r, g, b = plt.cm.jet(val)[:3]
    return "#%02x%02x%02x" % (int(r * 255), int(g * 255), int(b * 255))

In [ ]:
print(get_heapmap_color_hex(0.5))
print(get_heapmap_color_hex(1.0))

In [ ]:
plt.rcParams["figure.figsize"] = [6, 10] # Size: [width, height]
plot_shapes(filtered_shape_records, normalized_df)

# House Price Data

## Retrieve House Price Data

The house price data is downloaded from [Zillow](https://www.zillow.com/research/data/), that has the house price from 1996 to 2018. For this project, we will use the most recent house price.

In [34]:
def load_data(file_name):
    
    df = pd.read_csv(file_name, na_filter=False)
        
    # drop instance with missing values
    df = df.replace("", pd.np.nan).dropna(how='any')
    
    # convert values to int data type
    y = "1996"
    m = "04"
    date = y + "-" + m
    while date != "2018-02":        
        df[date] = df[date].apply(pd.to_numeric)       
        if m == "12":
            m = "01"
            y = str(int(y)+1)
        else:
            m = int(m)+1
            if m < 10:
                m = "0"+str(m)
            else:
                m = str(m)       
        date = y + "-" + m
    
    # convert zipcode to string data type
    df['RegionName'] = df['RegionName'].apply(str)
    
    # set zipcode as index
    df.set_index('RegionName', inplace=True)
    return df

houses = load_data("homes_CA.csv")

In [35]:
houses.head()

,﻿RegionID,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02
RegionName,,,,,,,,,,,,,,,,,,,,,
93306,97222,Bakersfield,CA,Bakersfield,Kern,333,86800,87100,87500,88200,...,186300,186300,186500,187000,187700,188500,189400,190600,192100,193700
93307,97223,Bakersfield,CA,Bakersfield,Kern,343,67000,66800,67100,67800,...,159100,159600,159400,159200,159900,160300,160800,161500,162600,164000
93309,97225,Bakersfield,CA,Bakersfield,Kern,348,89000,89200,89100,88700,...,188300,189300,189700,190300,191200,191900,192000,192200,193200,194500
93308,97224,Oildale,CA,Bakersfield,Kern,587,82700,83500,84000,84700,...,190000,190500,191000,191100,191000,191100,191700,191800,192600,194100
93312,97227,Bakersfield,CA,Bakersfield,Kern,747,132400,132300,132300,131900,...,272500,272700,272500,272900,273800,274700,275600,276600,277900,279600

## Get the Most Recent House Price

In [36]:
def get_most_recent_houseprice(df):
    house_price = df[["2018-02"]].copy()
    house_price.rename(columns={"2018-02": "price"}, inplace=True)
    return house_price

most_recent_houseprice = get_most_recent_houseprice(houses)

In [37]:
most_recent_houseprice.head()

             price
RegionName
93306       193700
93307       164000
93309       194500
93308       194100
93312       279600

In [39]:
# zipcodes with top low house price

most_recent_houseprice.sort_values(by=['price'], inplace=True)
most_recent_houseprice.head()

Index(['93501', '92365', '92277', '93241', '93268', '92274', '92311', '96035',
       '93701', '93204',
       ...
       '95070', '92067', '94306', '90265', '94024', '94305', '94028', '94022',
       '94301', '90210'],
      dtype='object', name='RegionName', length=1045)

In [48]:
# merged house price and income table
price_vs_income = pd.merge(most_recent_houseprice, zipcode2income_df, how='inner',left_index=True, right_index=True)
price_vs_income.head()

         price  income
94028  3887300  229554
94024  3430300  204534
94105  1125900  195165
94022  4247900  194014
94506  1365400  175947

## Retrieve Shape Data

In [ ]:
raw_data = download_zipcode_shapefile()
shape_records = shapefile.Reader(raw_data).shapeRecords()

In [ ]:
filtered_shape_records = filter_shape_record(shape_records, zipcode_list)

## Plot

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import colors
from matplotlib import cm as cmx

In [ ]:
def get_normalized_df(df):
 
    return (df - df.min()) / (df.max() - df.min())

normalized_df = get_normalized_df(most_recent_houseprice)
print(normalized_df.get_value("94558", "price"))

In [ ]:
def plot_shape_price(shape_records, df):
    plt.figure()
    for sr in shape_records:
        index = sr.record[0]
        try:
            val = df.get_value(index, "price")
        except KeyError:
            continue
        x = [i[0] for i in sr.shape.points[:]]
        y = [i[1] for i in sr.shape.points[:]]
        plt.fill(x, y, get_heapmap_color_hex(val))
    plt.show()

In [ ]:
plt.rcParams["figure.figsize"] = [6, 10] # Size: [width, height]

In [ ]:
plot_shape_price(filtered_shape_records, normalized_df)

# Income v.s. House Price